NODE_ENV=development
ATLASDB_URL=
SECRET=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
MAP_TOKEN=
GEMINI_API_KEY=
WEATHER_API_KEY=
UNSPLASH_ACCESS_KEY=
YOUR_KEY=
YOUR_DOMAIN=
YOUR_PROJECT_ID=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
GROQ_API_KEY=
FRONTEND_URL=http://localhost:5173
